@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --Branco: #FFFFFF;
    --Preto: #000000;
    --Cinza: #1C1C1C;
    --Cinza-2: #272727;
    --Instagram: #D62976;
    --Linkedin: #0074B4;
    --GitHub: #0E2350;
    --WhatsApp: #00FB60;
    --Gmail: #F14336;
    --Hotmail: #2070B7;
    --Facebook: #0363E0;
    --Scroll: #2B2BAE;
}
body{
    background-color: var(--Cinza-2);
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--Preto);
    
}
::-webkit-scrollbar-thumb{
    background-color: var(--Scroll);
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
}
i{
    color: var(--Branco);
}
a{
    text-decoration: none;
}
.front{
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: var(--Cinza);
    width: 50%;
    height: 100%;
}
.div-foto{
    width: 80px;
    border-radius: 100%;
    display: flex;
}
.foto{
    width: 60px;
    border-radius: 100%;
    display: flex;
}
.nome{
    display: flex;
    font-size: clamp(2rem, 3rem, 4vw);
    color: var(--Branco);
}
.links{
    background-color: var(--Cinza);
    display: flex;
    width: 50%;
    height: 100%;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
}
.redes-sociais{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    top: 0;
    position: relative;
    text-decoration: none;
}
.redes-sociais:last-child{
    margin-right: 20px;
}
.redes-sociais:nth-child(1){
    background-color: var(--Linkedin);
}
.redes-sociais:nth-child(2){
    background-color: var(--GitHub);
}
.redes-sociais:hover{
    top: -4px;
    box-shadow: 0 4px 4px rgb(69, 69, 69);
    transition: all 0.2s ease-in-out;
}
.ilustracao{
    width: 100%;
    height: 100%;
    display: flex;
}
.programacao{
    width: 100%;
    height: 100%;
}
.sobre-mim{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.apresentacao{
    background-color: var(--Cinza);
    color: var(--Branco);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    font-size: clamp(2rem, 3rem, 4vw);
}
.texto-apresentacao{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.6rem, 1.1rem, 1.3vw);
    font-weight: 900;
    background-color: var(--Cinza);
    color: var(--Branco);
    padding: 10px;
    padding-bottom: 50px;
}
.nome-area{
    background-color: var(--Cinza-2);
    color: var(--Branco);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 20vh;
    font-size: clamp(1rem, 3rem, 3.2rem);
}
.area-projetos{
    background-color: var(--Cinza-2);
    width: 100%;
    min-height: 1166.2px;
    max-height: 1715px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.projetos{
    display: flex;
    flex-direction: column;
    width: clamp(350px, 30%, 50%);
    height: 500px;
    background-color: var(--Cinza);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    top: 0;
    margin-bottom: 30px;
}
.projetos:hover{
    top: -10px;
    box-shadow: 0 8px 4px rgb(69, 69, 69);
    transition: all 0.2s ease-in-out;
}
.espaco-img{
    background-color: var(--Cinza);
    width: 100%;
    height: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.print-projeto{
    width: 100%;
}
.detalhes{
    width: 100%;
    height: 50%;
    cursor: pointer;
}
.nome-projeto{
    background-color: var(--Cinza);
    color: var(--Branco);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: clamp(1rem, 1.5rem, 3vw);
    cursor: pointer;
}
.descricao{
    background-color: var(--Cinza-2);
    color: var(--Branco);
    width: 100%;
    height: 80%;
}

#footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    bottom: 0;
}
.contatos{
    width: 100%;
    height: 100%;
    background-color: var(--Cinza);
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.h2-contato{
    width: 100%;
    height: 40%;
    background-color: var(--Cinza);
    color: var(--Branco);
    font-size: clamp(1rem, 2rem, 3vw);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Cinza);
}
.link-contato{
    width: 120px;
    height: 25px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    color: var(--Branco);
}
.link-contato i{
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}
.link-contato:nth-child(1){
    background-color: var(--WhatsApp);
}
.link-contato:nth-child(2){
    background-color: var(--Facebook);
}
.link-contato:nth-child(3){
    background-color: var(--Instagram);
}
.link-contato:nth-child(4){
    background-color: var(--Hotmail);
}
.link-contato:nth-child(5){
    background-color: var(--Gmail);
}
@media (max-width: 699px){
    #footer{
        margin-top: 1460px;
    }
    .link-contato{
        justify-content: center;
        width: 15%;
    }
    .p-contato{
        display: none;
    }
}